.wrapper {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  gap: 4px;
  height: fit-content;
  transition: 150ms ease-in;

  position: absolute;
  right: 25px;
  top: 0;
  z-index: 15;
}
