.cameraOptions {
  display: flex;
  position: absolute;
  right: 25px;
  top: 0;
  z-index: 15;
}

.bar {
  padding: 4px 0;
  min-width: 25px;
  max-width: 25px;
  background: var(--pj-background-tertiary);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.bar[data-hidden="true"] {
  transform: translateX(-100%);
}

.hideButton {
  width: 10px;
  height: 13px;
  transform: translateX(-185%);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pj-border-primary);
  padding: 0 !important;
  border-radius: 3px 0 0 3px;
}

.button {
  width: 20px;
  height: fit-content;
  border-radius: 3px;
  background: var(--pj-border-primary);
  padding: 4px 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button > label {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.content{
  right: 40px;
  position: absolute;
  bottom: 4px;
  background: var(--pj-border-primary);
  border-radius: 5px;
  width: 250px;
  height: fit-content;
}