.options {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 3px;
  height: 25px;
  user-select: none;
}

.align {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 4px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--pj-border-primary);
}



.rangeWrapper {
  user-select: none;
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 4px;
  color: var(--pj-color-secondary);
}

.rangeLabel {
  font-size: 0.75rem !important;
  color: var(--pj-color-secondary);
  font-weight: 550;
}

.dividerWrapper {
  display: flex;
  align-items: center;
  align-content: center;
  color: var(--pj-color-primary);
  gap: 8px;
  font-size: 0.7rem !important;
  padding: 0 6px;
  overflow: hidden;
}

.summary {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 0 4px;
  font-size: 0.7rem !important;
}

.overflow {
  max-width: 100%;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cubeWrapper {
  overflow: hidden;
  border-radius: 50%;
  padding: 4px;
  transition: 150ms linear;
}

.cubeWrapper:hover {
  background: rgb(255 255 255 / 25%);
}

.cubeWrapper:active {
  cursor: none;
  background: rgb(255 255 255 / 50%);
}

.cameraView {
  --cubeSize: 25px;

  width: calc(var(--cubeSize) * 2);
  height: calc(var(--cubeSize) * 2);
  transform: scale3d(1.5, 1.5, 1.5);
  perspective: calc(var(--cubeSize) * 2);
}

.cube {
  width: calc(var(--cubeSize) * 2);
  height: calc(var(--cubeSize) * 2);
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cubeSize) * -3));
}

.face {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  font-weight: 900 !important;
  border: transparent 1px solid;
  position: absolute;
  width: var(--cubeSize);
  height: var(--cubeSize);
  border-radius: 50%;
  text-align: center;

  --brightness: 45%;
}

.face:hover {
  border-color: darkorange;
  border-width: 2px;

  --brightness: 50%;
}

.front {
  transform: rotateY(0deg) translateZ(var(--cubeSize)) translateX(50%) translateY(50%);
}

.back {
  transform: rotateY(180deg) translateZ(var(--cubeSize)) translateX(-50%) translateY(50%);
}

.left {
  transform: rotateY(-90deg) translateZ(calc(var(--cubeSize) * 0.5)) translateY(50%);
}

.right {
  transform: rotateY(90deg) translateZ(calc(var(--cubeSize) *1.5)) translateY(50%);
}

.bottom {
  transform: rotateX(90deg)  translateZ(calc(var(--cubeSize) * 0.5)) translateX(50%);
}

.top {
  transform: rotateX(-90deg) translateZ(calc(var(--cubeSize) *1.5))  translateX(50%);
}

.darker {
  color: transparent;
}

.darker:hover {
  color: var(--pj-color-secondary);
}

.floating {
  width: fit-content;
  max-height: calc(100% - 35px);
  position: absolute;
  left: 0;
  padding-left: 4px;
  top: 4px;
  z-index: 15;
  height: fit-content;
  display: flex;
}

.contentWrapper {
  max-width: 250px;
  width: 37px;
  min-width: 37px;
  display: grid;
  align-content: flex-start;
  gap: 8px;
}

.buttonGroup {
  display: flex;
}

.dropdown {
  width: fit-content;

  --color-to-apply: white;

  font-size: 0.7rem;
  /*font-weight: 550;*/
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
  padding: 0 4px !important;
  background-color: var(--pj-border-primary) !important;
}

.shadedIcon {
  transition: 150ms linear;
  background: linear-gradient(to right bottom, var(--color-to-apply) 25%, #333 75%);
  min-width: 13px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.flatIcon {
  transition: 150ms linear;
  min-width: 13px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-to-apply);
}

.dragInput {
  cursor: move;
  overflow: hidden;
}

.dragInput:active {
  color: var(--pj-accent-color);
  transform: scale(1.2);
}

.dragInput > * {
  font-size: 1.1rem !important;
}


.groupItemVert {
  --color-to-apply: white;

  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(40 40 40 / 80%);

  /* border: var(--pj-border-primary); */
  color: var(--pj-color-primary);
  height: 27px;
  width: 27px;
  padding: 0 !important;
  border-radius: 50%;
}

.groupItemVert > * {
  font-size: 1rem;
  color-rendering: optimizespeed !important;
  shape-rendering: optimizespeed !important;
}

.transformationWrapper {
  position: relative;

  --color-to-apply: white;

  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(40 40 40 / 85%);
  height: 35px;
  width: 100%;
  font-size: .75rem;
  padding: 0 !important;
  border-radius: 0;
  border: var(--pj-border-primary) 1px solid;
  gap: 8px;
}

.transformationWrapper > span {
  font-size: 1.2rem !important;
  color-rendering: optimizespeed !important;
  shape-rendering: optimizespeed !important;
}

.transformationWrapper[data-highlight="true"] {
  border-color: #0095ff;
}

.transformationWrapper[data-minimal="false"] {
  justify-content: flex-start;
  padding: 8px !important;
  text-align: left;
}

.button {
  background-color: var(--pj-border-primary);
  padding: 4px 16px !important;
}

.button:disabled {
  color: #999;
  background: var(--pj-background-tertiary);
}

.enableButton {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  padding-left: 8px;
  margin-top: 4px;
  color: var(--pj-color-secondary);
  font-size: 0.8rem;
}

