.content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--pj-background-primary);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  padding: 4px;
}

.contentWrapper {
  top: 0;
  position: sticky;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 4px;
  max-height: 35px;
  min-height: 35px;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--pj-color-tertiary);
  box-sizing: border-box !important;
  border-bottom: var(--pj-border-primary) 1px solid;
  overflow: hidden;
}

.overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  padding: 0 !important;
  width: 35px;
  height: 35px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 4px;
  color: var(--pj-color-primary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 30px;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 550;
}

.accordion {
  border-radius: 5px;
  background-color: var(--pj-border-primary) !important;
}
