.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: var(--pj-color-quaternary);
}

.filesWrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  height: 100%;
  padding: 8px;
  gap: 8px;
  border-radius: 5px;
  background: var(--pj-background-tertiary);
  min-height: 100%;
  position: relative;
  display: grid;
  align-content: flex-start;

  --card-size: 115px;

  grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  grid-auto-flow: row dense;
}

.types {
  padding: 4px 4px 4px 42px;
  display: flex;
  background-color: var(--pj-background-secondary);
  border-bottom: var(--pj-border-primary) 1px solid;
  position: sticky;
  top: 0;
  z-index: 100;
}

.type {
  width: 100%;
  color: var(--pj-color-secondary);
  font-weight: 550;
  font-size: 0.8rem;
}
