.wrapper{
  display: grid;
  align-content: flex-start;
  gap: 2px;
  overflow-y: auto;
  width: 300px;
}
.section {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;

  gap: 4px;
  height: fit-content;
  color: var(--pj-color-secondary);
  padding: 4px;
  background: var(--pj-border-primary);
  border-radius: 5px;
}

.tree {
  display: grid;
  gap: 4px;
}

.tree:not([open]) > .summary > .iconDropdown {
  transform: rotate(-90deg) !important;
}

.summary {
  font-size: 0.75rem;
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content {
  padding: 4px 8px;
  border-radius: 3px;
  background: var(--pj-background-secondary);
  overflow-y: auto;
}

.folder {
  height: 20px;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  cursor: pointer;
}

.folder:hover,
.summary:hover {
  color: var(--pj-accent-color);
}

.folder:active,
.folder[data-highlight="true"],
.summary:hover {
  font-weight: 550;
  color: var(--pj-accent-color);
}

.hovered {
  font-weight: 550;
  color: var(--folder-color);
}
