.wrapper.hierarchy-branch {
  font-size: 0.7rem;
  height: 23px;
}



.wrapper.hierarchy-branch > .content {
  display: none;
}



.wrapper.hierarchy-branch[data-selected="-"] {
  background: var(--pj-accent-color-light);
  color: white;
}

.wrapper.hierarchy-branch[data-selected="-"]:hover{
  background: var(--pj-accent-color-light);
  color: white;
}

.wrapper.hierarchy-branch:hover{
  background: var(--pj-border-primary);
}

.summary.hierarchy-branch {
  display: flex;
  align-items: center;
  height: 23px;
  width: 100%;
}




.button-small.hierarchy-branch {
  min-height: 18px;
  min-width: 18px;
  max-height: 18px;
  max-width: 18px;
  outline: none;
  border: none;
  background: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  opacity: 0.7;

  cursor: pointer;
}

.button-small.hierarchy-branch:hover {
  opacity: 0.85;
  color: var(--pj-color-secondary);
}

.button-small.hierarchy-branch:active {
  opacity: 1;
  color: var(--pj-color-primary);
}

.button-small.hierarchy-branch[data-open=""] {
  transform: rotate(-90deg);
}

.button-small.hierarchy-branch[data-open="-"] {
  transform: none;
}

.info.hierarchy-branch {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
}

.buttonIcon.hierarchy-branch {
  width: 23px;
  height: 23px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  cursor: pointer;
}

.buttonIcon.hierarchy-branch[data-locked="-"] {
  color:   orangered;
}

.buttonIcon.hierarchy-branch:active {
  color: rgb(203 110 53);
}

.label.hierarchy-branch {
  width: 100%;
  height: 23px;
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  color: var(--pj-color-quaternary);
  cursor: pointer;
}
