[submodule "src/components"]
	path = src/components
	url = git@github.com:projection-engine/components.git
[submodule "src/views/material"]
	path = src/project/components/blueprints
	url = git@github.com:projection-engine/material.git
[submodule "src/views/files"]
	path = src/project/components/files
	url = git@github.com:projection-engine/files.git
[submodule "src/services/engine"]
	path = src/project/engine
	url = git@github.com:projection-engine/engine.git

[submodule "src/home/components/issues"]
	path = src/home/components/issues
	url = git@github.com:projection-engine/feedback-github-integration.git
[submodule "docs"]
	path = docs
	url = git@github.com:projection-engine/arquitecture-docs.git
