[submodule "src/components"]
	path = src/components
	url = git@github.com:projection-engine/components.git
[submodule "src/views/material"]
	path = src/views/blueprints
	url = git@github.com:projection-engine/material.git
[submodule "src/views/files"]
	path = src/views/files
	url = git@github.com:projection-engine/files.git
[submodule "src/services/engine"]
	path = src/engine
	url = git@github.com:projection-engine/engine.git
[submodule "src/home"]
	path = src/pages/home/issues
	url = git@github.com:projection-engine/feedback-github-integration.git
[submodule "src/builders/web"]
	path = src/builders/web
	url = git@github.com:projection-engine/builder-web.git
