

.button.viewport {
    height: 25px;
    padding: 4px 8px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: var(--pj-background-tertiary);
    border: var(--pj-border-primary) 1px solid;
    color: var(--pj-color-tertiary);
}

