.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-3);
    display: flex;
    flex-direction: column;
    padding: 2px;
    user-select: none;
}

.viewportWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    gap: 0;
    padding: 3px 0 0 0;

}