.wrapper {
  position: relative;
  width: 100%;
  background-color: var(--pj-background-tertiary);
  border-radius: 3px;
  overflow: hidden;
  transition: 150ms linear;
  padding: 4px;
  color: var(--pj-color-secondary);
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: transparent 1px solid;
}

.wrapper:hover {
  border-color: var(--pj-border-primary);
}

.divider {
  height: 35px;
  width: 1px;
  background: var(--pj-border-primary);
}

.wrapper:hover {
  background: var(--pj-background-primary);
}

.dataRow {
  background-color: var(--pj-background-tertiary);
  border: none;
  width: 100%;
  border-radius: 0;
  transition: 150ms linear;
  border-bottom: var(--pj-background-tertiary) 1px solid;
}

.wrapper:hover > .dataRow {
  background: var(--pj-background-primary);
}

.openButton,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 25px;
  min-width: 25px;
  max-width: 25px;
  font-size: 0.7rem;
  font-weight: 550;
  padding: 0 !important;
  gap: 4px;
}

.button:hover {
  color: white;
  background: var(--pj-accent-color) !important;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.date {
  font-weight: normal;
  font-size: 0.8rem;
}

.data {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 200px;
}

.onDelete {
  background: var(--pj-background-primary);
  padding: 4px;
  display: grid;
  align-items: flex-end;
  gap: 16px;
  font-size: 0.8rem;
  font-weight: 550;
  color: var(--pj-color-secondary);
  border-radius: 5px;
  overflow: hidden;
}

.section {
  width: 100%;
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  overflow: hidden;
}

.buttonGroup {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.modalOptions {
  padding: 0 4px 4px;
  max-width: unset;
  width: 250px;
}

.headers {
  display: flex;
  justify-content: space-between;
  height: 30px;
  background: var(--pj-border-primary);
  border-radius: 3px;
  padding: 4px;
  align-items: center;
  width: 100%;
  color: var(--pj-color-secondary);
}

.header {
  width: 100%;
  text-align: left;
  padding-left: 4px;
  font-size: 0.8rem;
}

.dividerHeaders {
  height: 20px;
  width: 1px;
  background: var(--pj-background-tertiary);
}
