.wrapper {
  position: relative;
  width: 100%;
  background-color: var(--pj-background-tertiary);
  border-radius: 5px;
  overflow: hidden;
  transition: 150ms linear;
  border: var(--pj-border-primary) 1px solid;
  padding: 4px;
}

.wrapper:hover {
  background: var(--pj-background-primary);
}

.wrapper:hover .dataRow {
  background: var(--pj-background-primary);
}
.openButton,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 25px;
  min-width: 25px;
  font-size: 0.7rem;
  font-weight: 550;
  padding: 4px !important;
  gap: 4px;
  background: var(--pj-border-primary) !important;
}
.button:hover {
  color: white;
  background: var(--pj-accent-color) !important;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.date {
  font-weight: normal;
  font-size: 0.8rem;
}

.data {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 200px;
}

.onDelete {
  background: var(--pj-background-primary);
  padding: 4px;
  display: grid;
  align-items: flex-end;
  gap: 16px;
  font-size: 0.8rem;
  font-weight: 550;
  color: var(--fabric-color-secondary);

  border-radius: 5px;
  overflow: hidden;
}

.section {
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.buttonGroup {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.modalOptions {
  padding: 4px;
  max-width: unset;
  width: 300px;
}

.dataRow {
  background-color: var(--pj-background-tertiary);
  border: none;
  width: 100%;
  border-radius: 0;
  transition: 150ms linear;
  border-bottom: var(--pj-background-tertiary) 1px solid;
}
