.wrapper {
  color: var(--pj-color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--pj-color-secondary);
  font-size: 1.5rem;
  font-weight: 550;
  border-bottom: var(--pj-border-primary) 2px solid;
  padding-top: 4vh;
  padding-bottom: 8px;
  height: fit-content;
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.image {
  width: 30px;
  border-radius: 50%;
}

.returnButton {
  background: var(--pj-border-primary) !important;
  width: 30px;
  height: 30px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.returnButton:active {
  background: var(--pj-accent-color) !important;
  color: white !important;
}

.userWrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  height: fit-content;
  padding: 4px;
}

.commentWrapper {
  border-left: var(--pj-border-primary) 2px solid;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  position: relative;

}

.info {
  display: grid;
  align-content: flex-start;
  background: var(--pj-border-primary);
  border-radius: 3px;
  padding-left: 8px;
  border: none;

  height: fit-content;
}

.info > legend {
  font-weight: 550;
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.divider {
  margin: 4px 0;
  width: 90%;
  height: 2px;
  background: var(--pj-border-primary);
}

.flow {
  font-size: .8rem;
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}
