
.wrapper {
    width: 100%;
    padding: 0 5%;
    position: relative;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 32px;

}

.titleWrapper {
    color: var(--pj-color-secondary);

    border-bottom: var(--pj-border-primary) 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 4vh;
    padding-bottom: 16px;
    margin-bottom: clamp(32px, 2vh, 128px);

    overflow: hidden;
    max-width: 100%;
}

.title {
    display: flex;
    align-items: center;
    gap: 16px;

}
.title > label{
    font-size: 1.5rem;
    font-weight: 550;
}

.optionsWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
    overflow: hidden;
    max-width: 100%;

}

.content {
    display: grid;
    height: fit-content;

    align-items: flex-start;

}

.button {


    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    gap: 4px;
    padding: 2px 8px !important;

    font-weight: 550;
    overflow: hidden;
    max-width: 100%;
background: var(--pj-border-primary) !important;

}
.button:hover{
    background: var(--pj-accent-color) !important;
}

.emptyWrapper {
    color: var(--pj-color-tertiary);

    display: grid;
    justify-content: center;
    justify-items: center;

    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 550;
    font-size: .8rem;
}

.createModal {
    padding: 8px;
    width: 250px;


}