.wrapper {
  transition: 150ms linear;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: hidden;
  height: 100%;
  width: 250px;
  background: var(--pj-background-secondary);
  border-right: var(--pj-border-primary) 1px solid;
  gap: 8px;
}

.button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 4px !important;
}

