.wrapper {
    position: relative;
    width: 100%;
    background-color: var(--fabric-border-primary);

    border-radius: 5px;
    overflow: hidden;


}


.button {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    height: 25px;
    min-width: 25px;

    font-size: .7rem;
    font-weight: 550;
    padding: 4px !important;
    gap: 4px;
    background-color: var(--fabric-border-primary);
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.date {
    font-weight: normal;
    font-size: .8rem;
}


.data {
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 200px;
}

.onDelete {
    background: var(--fabric-background-primary);
    padding: 4px;


    display: grid;
    align-items: flex-end;
    gap: 32px;
    font-size: .8rem;
    font-weight: 550;
    color: var(--fabric-color-secondary);

    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--fabric-boxshadow);

}


.section {
    padding: 4px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 6px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}


.buttonGroup {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4px;
}

.modalOptions {
    max-width: unset;
    width: 300px;
}

.dataRow {
    background: var(--fabric-border-primary);
    border: none;
    width: 100%;
    border-radius: 0;
    border-bottom: var(--fabric-background-tertiary) 1px solid;
}