.wrapper {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.options {
    padding: 2px 10%;
    display: flex;
    justify-content: space-between;
    height: fit-content;

    width: 100%;
    gap: 8px;

    align-items: center;


    background-color: var(--fabric-background-primary);
}


.logoWrapper {
    user-select: none;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    gap: 8px;


    color: var(--fabric-color-secondary);
}

.logo {
    height: 45px;
    width: 45px;

    border-radius: 5px;
    display: flex;
    place-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    animation: popImage 350ms linear forwards;
}

.logoTitle {

    animation: slideText 350ms linear forwards 350ms;
    opacity: 0;
    transform: translateX(-100%);
    position: relative;
    z-index: 0;

    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Roboto" !important;

}


@keyframes popImage {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideText {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.modal {
    padding: 8px;
    display: grid;
    gap: 16px;
    width: 500px;
    height: fit-content;
    background-color: var(--fabric-background-primary);
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.submitButton {
    width: 100%;

}

.card {
    display: grid;
    gap: 4px;

}

.button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px !important;
}