
.wrapper.hierarchy-branch {
    font-size: 0.7rem;
    height: 23px;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    --pj-selection-color: var(--pj-accent-color-light);
}

.wrapper.hierarchy-branch > * {
    white-space: nowrap;
}

.wrapper.hierarchy-branch > .content {
    display: none;
}


.wrapper.hierarchy-branch[data-svelteselected="-"] {
    background: var(--pj-accent-color-light);
    color: white;
}

.wrapper.hierarchy-branch[data-svelteselected="-"]:hover {
    background: var(--pj-accent-color-light);
    color: white;
}

.wrapper.hierarchy-branch:hover {
    background: var(--pj-border-primary);
}



.button-small.hierarchy-branch {
    min-height: 18px;
    min-width: 18px;
    max-height: 18px;
    max-width: 18px;
    outline: none;
    border: none;
    background: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    opacity: 0.7;

    cursor: pointer;
}

.button-small.hierarchy-branch:hover {
    opacity: 0.85;
    color: var(--pj-color-secondary);
}

.button-small.hierarchy-branch:active {
    opacity: 1;
    color: var(--pj-color-primary);
}

.button-small.hierarchy-branch[data-svelteopen=""] {
    transform: rotate(-90deg);
}

.button-small.hierarchy-branch[data-svelteopen="-"] {
    transform: none;
}

.info.hierarchy-branch {
    padding-right: 23px;
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
    overflow: visible;
}

.button-icon.hierarchy-branch {
    --button-color: white;
    max-width: 22px;
    max-height: 22px;
    min-width: 22px;
    min-height: 22px;
    border: none;
    outline: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    cursor: pointer;
    opacity: .9;
    color: var(--button-color) !important;
}

.wrapper.hierarchy-branch[data-svelteselected="-"] > .info.hierarchy-branch> .button-icon.hierarchy-branch[data-sveltelocked="-"]{
    opacity: 1;
    background: transparent;

    border: transparent 1px solid;
}
.button-icon.hierarchy-branch[data-sveltelocked="-"] {
    opacity: 1;
    background: var(--background-input);

    border: var(--pj-border-primary) 1px solid;
}

.button-icon.hierarchy-branch:active, .button-icon.hierarchy-branch:hover {
    opacity: 1;
}

.label.hierarchy-branch {
    width: 100%;
    height: 23px;
    display: flex;
    align-items: center;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    color: var(--pj-color-quaternary);
    cursor: pointer;
}