.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-color: var(--fabric-background-primary);
}

.dark {
    --background-input: #545454;
}

.light {
    --background-input: #E7E7E7;
}

