.wrapper {
    opacity: 0;
    animation: pop 350ms linear forwards;
    width: calc(15% - 15.4px);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: var(--fabric-border-primary) 1px solid;
    background: var(--fabric-background-primary);
    position: relative;

    transition: 150ms linear;
    min-width: 200px;

    box-shadow: rgba(0, 0, 0, .05) 0 0 10px 1px;
}

@keyframes pop {
    0% {
        transform: scale(.3);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.wrapper:hover {
    box-shadow: rgba(0, 0, 0, .2) 2px 2px 10px 1px;

    /*border-color: var(--fabric-accent-color);*/
}

.wrapper[data-variant='row'] {
    width: 100%;
    height: 50px;
}

.label {
    padding: 0 4px 4px;
    display: grid;
    gap: 4px;
    font-size: .85rem;
    font-weight: 550;
    color: var(--fabric-color-secondary);
}

.imageWrapper {
    overflow: hidden;
    width: 100%;

    border-radius: 5px;
    padding: 0 !important;
}


.image {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    transition: 150ms linear;
}


.options {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;

}

.button {
    display: flex;
    align-items: center;
    height: 25px;
    padding: 4px !important;
    gap: 4px;
    color: var(--fabric-color-secondary);
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.labels {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.date {
    font-weight: normal;
    font-size: .8rem;
}

.divider {
    width: 100%;
    height: 2px;
    background: white;
}

.dividerWrapper {
    margin-top: 8px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 4px;
    white-space: nowrap;

    font-size: .9rem !important;
    font-weight: normal;
}


.data {
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 200px;
}

.onDelete {
    background: var(--fabric-background-primary);
    padding: 8px;

    display: grid;
    gap: 8px;
    font-size: .8rem;
    font-weight: 550;
    color: var(--fabric-color-secondary);

    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .2) 2px 2px 10px 2px;
    transform: translateY(75%);
}
.modal{
    padding: 8px;
    display: grid;
    gap: 16px;
    width: 500px;
    height: fit-content;
    background-color: var(--fabric-background-primary);
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}