
.wrapper {
    width: 100%;
    padding: 0 5%;
    position: relative;
    background-color: var(--background-2);
    height: 100%;
    border-radius: 5px;
    border: var(--fabric-border-primary) 1px solid;
}

.title {
    color: var(--fabric-color-secondary);
    font-size: 1.5rem;
    font-weight: 550;
    font-family: Roboto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 3rem;
    margin-bottom: 2rem;

}



.content {
    display: grid;
    height: fit-content;

    gap: 3px;
    align-items: flex-start;

}

.button {


    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    font-weight: 550;


}

.emptyWrapper{
    color: var(--fabric-color-tertiary);

    display: grid;
    justify-content: center;
    justify-items: center;

    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}