.wrapper {
  height: 100%;
  width: 100vw;
  display: flex;
  overflow: hidden;
  background-color: var(--pj-background-secondary) !important;
}

.modal {
  max-width: 90vw;
  max-height: 90vh;
  padding: 8px;
  display: grid;
  gap: 16px;
  width: 500px;
  height: fit-content;
  background: var(--pj-background-primary);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(0 0 0 / 20%) 2px 2px 10px 2px;
}

.submitButton {
  width: 100%;
}

.wrapperProjects {
  width: 100%;
  position: relative;
  overflow-y: auto;
  height: 100%;
  padding: 16px 5% 32px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}

.titleWrapper {
  color: var(--pj-color-secondary);
  border-bottom: var(--pj-border-primary) 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;

  overflow: hidden;
  max-width: 100%;
}

.title {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
}
.title > h2 {
  margin: 0;
}

.title > label {
  font-size: 1.5rem;
  font-weight: 550;
}

.content {
  display: grid;
  gap: 4px;
  height: fit-content;
  align-items: flex-start;
}

.button {
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 8px !important;
  overflow: hidden;
  max-width: 100%;
  background: var(--pj-border-primary) !important;
}

.button:hover {
  background: var(--pj-accent-color) !important;
}

.emptyWrapper {
  color: var(--pj-color-tertiary);
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 550;
  font-size: 0.8rem;
}

.createModal {
  padding: 8px;
  width: 250px;
}
