.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: var(--background-1);
}

.dark {
    /*--background-1:#212529 ;*/
    /*--background-2:#343a40 ;*/
    /*--background-3:#495057 ;*/
    /*--background-4: #6c757d;*/
    /*--background-5: #adb5bd;*/
    --background-input: #545454;

    --background-1: #303030;
    --background-2: #2b2b2b;
    --background-2a: #282828;
    --background-3: #111111;

    /*--background-6: #575757;*/
    /*--background-7: #6A6A6A;*/
}

.light {
    /*--background-0: #3d3d3d;*/

    --background-1: white;
    --background-2: #f8f9fa;
    --background-2a: #f8f9fa;
    --background-3: #ced4da;
    --background-input: #E7E7E7;

    /*--background-5: #454545;*/
    /*--background-6: #575757;*/
    /*--background-7: #6A6A6A;*/
}
