.wrapper {
    width: 100%;
    height: 100%;
    max-width: 100vw;

    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}


.content {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    gap: 4px;
}

.tabs {
    display: flex;
    gap: 4px;

}

.closeButton {
    border-left: var(--fabric-border-primary) 1px solid !important;
    border-radius: 0 5px 5px 0 !important;
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton > * {
    font-size: 1.1rem !important;
}

.button {
    display: flex;
    align-content: center;
    gap: 4px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    text-align: left !important;
    white-space: nowrap;
}

.button::after {
    content: none !important;
}

.tabButtonWrapper {
    height: 35px;
    width: 225px;

    overflow: hidden;

    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0 !important;
}

.currentTabButton {
    background-color: var(--fabric-background-primary) !important;

}
.currentTabButton > *{
    font-weight: 550;
}

.contentWrapper {
    display: grid;
    width: 100%;
    height: 75px;
}


.overflow{
    font-size: .8rem;

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}