
.attribute.node-io {
    width: 100%;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--pj-color-secondary);
    display: flex;
    align-items: center;

    padding: 4px 0 4px 4px;
    gap: 4px;
    height: 27px;
    overflow: hidden;

    --direction: 10px;
}

.attribute.node-io[data-sveltedisabled="true"] {
    cursor: default !important;
    color: #999 !important;
}

.attribute.node-io[data-sveltedtype="input"] {
    cursor: default;
    --direction: -10px;
}
.attribute.node-io[data-svelteishidden="-"] {
    position: absolute;
    top: 0;

}

.connection.node-io {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--pj-border-secondary);
    position: relative;
    cursor: grab;
}
.connection.node-io[data-sveltehighlight="-"]{
    background-color: orangered !important;
}
.connection.node-io[data-sveltedtype="input"] {
    cursor: default;
}
.connection.node-io[data-sveltedisabled="true"], .connection.node-io[data-sveltedisabled="true"]:hover {
    cursor: default !important;
    width: 12px;
    height: 12px;
}