.options {
    height: 35px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    background-color: var(--fabric-background-primary);
    margin-bottom: 3px;
}

.divider {
    height: 75%;
    width: 2px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: var(--fabric-border-primary);
}

.label {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.option {
    display: flex;
    gap: 4px;

    width: fit-content;
    align-items: center;
    padding: 8px !important;

    font-size: .7rem !important;
    font-weight: 550 !important;
    color: var(--fabric-color-secondary);

}

.option:active {
    background: var(--fabric-background-secondary);
}

.option:disabled {
    color: #999999 !important;
}

.group {
    display: flex;
    align-items: center;
    height: 35px;

}