.wrapper {
    padding: 4px;
    color: var(--fabric-color-secondary);
}

.header {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--fabric-color-secondary);
    font-size: 1.5rem;
    font-weight: 550;
    font-family: Roboto;


    border-bottom: var(--fabric-border-primary) 2px solid;
    padding-top: 4vh;
    padding-bottom: 4px;
    margin-bottom: clamp(32px, 2vh, 64px);

    height: fit-content;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.image {
    width: 30px;
    border-radius: 50%;
}

.returnButton {
    background: var(--fabric-border-primary) !important;
    width: 30px;
    height: 30px;
    padding: 0 !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.returnButton:active {
    background: var(--fabric-accent-color) !important;
    color: white !important;
}

.userWrapper {
    display: grid;
    justify-content: center;
    justify-items: center;
    height: fit-content;
    padding: 4px;

}

.commentWrapper {
    background: var(--fabric-background-secondary);
    border: var(--fabric-border-primary) 1px solid;
    border-radius: 5px;

    padding: 8px;


    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: fit-content;

}

.content {

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.contentWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 300px) 300px;
    gap: 8px;
    position: relative;
    padding: 32px 4px 4px;
}

.info {
    display: grid;
    align-content: flex-start;

}

.info > label {
    font-weight: 550;
    font-size: .8rem;
    margin-bottom: 8px;
}

.divider {
    margin: 4px 0;
    width: 90%;
    height: 2px;
    background: var(--fabric-border-primary);
}

.flow {
    display: flex;
    flex-flow: row wrap;

}