
.wrapper {
    display: flex;
    flex-direction: column;

    gap: 0;
    overflow: hidden;
    min-width: 250px;


}

.wrapperContent {
    height: 100%;
    max-width: 100%;
    width: 100%;

    position: relative;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    background-color: var(--pj-background-primary);



    border-radius: 5px;
    overflow-y: auto;

}

.header {
    display: flex;
    gap: 4px;
    color: var(--pj-color-primary);
    font-size: .8rem;
    font-weight: 550;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
    height: 30px;
}

.row > summary {
    list-style: none;
}

.position {
    max-width: 100%;
    display: grid;
}


.formsWrapper {
    display:flex;
    flex-direction: column;

    height: fit-content;
    gap: 4px;
    width: 100%;
    max-width: 100%;
    padding: 4px 4px 32px;
    color: var(--pj-color-primary);
    overflow-x: hidden;
}
.formsWrapper > div{
    border: none;
    background-color: var(--pj-border-primary);
    border-radius: 3px;
}


.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 6px;
    background-color: var(--pj-background-quaternary);
    padding: 2px;
    border-radius: 5px;

    overflow-x: auto;
    user-select: none;
    min-height: 25px;
}

.button {
    padding: 0;
    width: 25px;
    height: 25px;
    overflow: hidden;

    background-color: var(--pj-border-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyWrapper {
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;


    text-align: center;
    color: var(--pj-color-primary);
    font-size: .75rem;
    font-weight: 550;
}

.mainHeader[data-hidden = 'true'] {
    text-orientation: mixed;
    writing-mode: vertical-rl;


    display: flex;
    align-items: center;
    height: fit-content;
    gap: 8px;

    padding: 4px 0 !important;
}

.mainHeader[data-hidden = 'true'] > label {
    transform: rotate(180deg);

}
.content{
    width: 100%;
    height: 100%;
    display: flex;

    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}
.overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}