

.alertContainer.alert-modal {
    --background: #f55;
    color: white !important;

    background: var(--background) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    font-size: .65rem;
    transition: 150ms ease;
    padding: 0 4px;
    width: fit-content;
    max-width: 25vw;
    height: 25px;
    position: relative;
    border-radius: 12px;
    box-shadow: var(--pj-boxshadow);
    overflow: hidden;
    opacity: 0;
    animation: enterAnimation 150ms ease-in-out forwards;
}

.outAnimation.alert-modal {
    animation: exitAnimation 150ms ease-in-out forwards;
}

@keyframes exitAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(calc(100% + 8px));
    }
}

@keyframes enterAnimation {
    0% {
        opacity: 0;
        transform: translateY(calc(100% + 8px));
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon.alert-modal {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon.alert-modal > * {
    color: white !important;
    font-size: 1rem;
}

.button.alert-modal {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    color: var(--pj-color-secondary);
    border-radius: 50%;
    transition: 150ms linear;
    cursor: pointer;
}

.button.alert-modal:hover, .button.alert-modal:active {
    color: #f55;
    background: transparent !important;
}

.content.alert-modal {
    width: 100%;
    font-size: 0.8rem;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    justify-items: flex-start;
    gap: 4px;
    color: var(--pj-color-primary) !important;
}