.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: var(--fabric-background-primary);
}

.dark {
    --background-input: #545454;
}

.light {
    --background-input: #E7E7E7;
}

.backgroundStripes{
    background: linear-gradient(
            to bottom,
            var(--fabric-background-secondary),
            var(--fabric-background-secondary) 50%,
            var(--fabric-background-tertiary) 50%,
            var(--fabric-background-tertiary)
    );
    background-size: 100% 50px;
}