.wrapper {
    display: grid;
    width: 30px;

    align-content: flex-start;
    gap: 4px;
    padding: 2px;
    border-top-right-radius: 5px;
    background: var(--pj-background-tertiary);

    position: sticky;
    top: 0;

}

.button {
    padding: 0 !important;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;

    justify-content: center;
    border-radius: 3px;
}

.button > * {
    font-size: 1rem !important;
}
.divider{
    width: 100%;
    height: 2px;
    background-color: var(--pj-border-primary);
}